{% extends "admin.html" %}

{% block style %}
<link rel="stylesheet" href="css/generate_key.css">
{% endblock %}

{% block content %}
          <section id="description">
            <form action="javascript:void(0);">
              <div class="container">
                <label for="uname"><b>Key</b></label><br/>
        				<textarea class="token_area" rows="3" cols="60" style="resize:none" name="description">
        				Details here...
        				</textarea>
                <button type="submit" class="gen_token">Generate key</button>
            </div>
           </form>
          </section>
{% endblock %}

{% block scipt %}
<script src="js/script.js"></script>
{% endblock %}
