{% extends "admin.html" %}

{% block style %}
<link rel="stylesheet" href="css/generate_key.css">
	<link rel="stylesheet" href="css/list_comment.css">
{% endblock %}

{% block content %}
          <section id="description">
            <form action="javascript:void(0);">
              <div class="container">
                <label for="uname"><b>Key</b></label><br/>
        				<textarea class="token_area" rows="3" cols="68" style="resize:none" name="description">
        				</textarea>
                <button type="submit" class="gen_token">Generate key</button>
                <button type="submit" class="save_token">Save key</button>
            </div>
           </form>
          </section>

          {% if tokens.Status %}
          <div class="dialogbox">
            <div class="comment-box">
              <div class="title-message">
                <span>{{ tokens.Status }}</span>
              </div><br>
              <span class="bubble arrow"></span>
              <div class="message">
                <span>{{ tokens.TokenValue }}</span>
              </div>
            </div>
          </div>
          {% endif %}

{% endblock %}

{% block scipt %}
<script src="js/script.js"></script>
{% endblock %}
