{% extends "admin.html" %}


{% block style %}
		<link rel="stylesheet" href="css/list_comment.css">
{% endblock %}


{% block content %}

				{% if comments %}
				{% for comment in comments %}
					<div class="dialogbox">
						<div class="comment-box">
							<div class="title-message">
								<span>{{ comment.Username }} (mail {{ comment.Username }})</span>
							</div><br>
							<span class="bubble arrow"></span>
							<div class="message">
								<span>{{ comment.CommentText }}</span>
							</div>
						</div>
					</div>
		    {% endfor %}
				{% endif %}

{% endblock %}
