{% extends "admin.html" %}


{% block style %}
		<link rel="stylesheet" href="css/list_comment.css">
{% endblock %}


{% block content %}
				<div class="dialogbox">
					<div class="comment-box">
						<div class="title-message">
							<span>Username first comment</span>
						</div><br>
						<span class="bubble arrow"></span>
						<div class="message">
							<span>Comment messagesss</span>
						</div>
					</div>
				</div>

				<div class="dialogbox">
					<div class="comment-box">
						<div class="title-message">
							<span>Username second comment</span>
						</div><br>
						<span class="bubble arrow"></span>
						<div class="message">
							<span>Second comment message</span>
						</div>
					</div>
				</div>
{% endblock %}
